body{
background-color: rgba(0, 0, 0, 0.055);
}
h1{
    background-color: azure;
    color: rgb(172, 76, 112);
}
 img{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 350px;
}
h2{
    background-color: azure;
    color: blueviolet;
}
